/*GENERAL*/
.container_main {
	width: auto;
	margin: auto;
	display: block;
	padding-top: 0;
}
body {
	font-family: 'Myriad Pro';
	background-color: #ececec;
	/*width: 1200px;*/
	/*margin: auto;*/
}
.admin_uni_button {
	background-color: #9dcb20;
	color: #fff;
	font-size: 16px;
}
.admin_uni_heading {
	font-size: 24px;
	color: #9dcb20;
}
.admin_uni_lable {
	font-size: 16px;
	font-weight: bold;
	color: #222222;
}
.hidden {
	display: none;
}
.admin_main_content {
	width: 930px;
	display: table;
	margin: auto;
	margin-bottom: 30px;
}
/*HEADER*/
header {
	background-color: #222222;
	color: #eeeeee;
	padding-top: 5px;
	padding-bottom: 5px;
}
.container_admin_header {
	padding-top: 0;
}
.admin_to_site {
	display: inline-block;
}
.admin_header_btn_group {
	left: 252px;
}
.admin_header_btn_group_r {
	left: 795px;
}
.admin_header_btn_group>button {
	border: 0px;
}
.fa_user {
	margin-right: 5px;
}
.admin_header_btn_group>button, .admin_header_btn_group>button {
	background-color: #222222;
	color: #eee;
}
.admin_header_btn_group>button:hover, .admin_header_btn_group>button:active {
	background-color: #4d4d4d;
	color: #eee;
}
.open>.dropdown-toggle.btn-default {
	background-color: #4d4d4d!important;
	color: #eee!important;
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 0px;
}
.open>.dropdown-menu>li {
	background-color: #4d4d4d!important;
	color: #eee!important;
	display: inline-block;
}
.open>.dropdown-menu {
	background-color: #4d4d4d!important;
	color: #eee!important;
	margin-top: 0;
	border-top: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.bigger {
	width: 162px;

}
.btn_exit {
	margin-left: 13px;
	background-color: #4d4d4d!important;
}
.btn_exit:hover {
	color: #9dcb20;
}
.dropdown-menu>li>a:hover {
	color: #9dcb20;
}
.dropdown-menu>li>a {
	color: #eee;
}
.btn_link {
	margin-left: 0;
}
.dropdown-menu {
	min-width: 129px;
}
.dropdown-menu>li>a {
	padding: 2px 13px;

}
.admin_header_link {
	font-weight: bold;
	text-decoration: none;
	color: #eeeeee;

}
.admin_header_link:hover {
	background-color: #4d4d4d;
	text-decoration: none;
	color: #eeeeee;
}
/*PANEL*/
.admin_main_content {
	background-color: #fff;
	box-shadow: 2px 3px 7px #757171;
	padding: 25px 30px 30px 65px;
}
/*CHANGE_ITEM*/
/*SUBCATS*/
.admin_one_cat_heading {
	font-size: 18px;
	font-weight: bold;
}
.admin_one_cat_add {
	font-size: 16px;
	font-weight: bold;
	color: #9dcb20;
	text-decoration: underline;
}
.admin_one_cat_subcats_block {
	border-left: solid 3px #9dcb20;
	padding: 10px 30px;
}
.admin_subcategory i {
	color: #9dcb20;
}
/*ITEMS*/
.admin_items_quantity {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
/*PRODUCERS*/
.admin_producer_add {
	font-size: 16px;
	font-weight: bold;
	color: #9dcb20;
	text-decoration: underline;
}
.admin_producer_one {
	text-decoration: underline;
}
.admin_article_title_full {
	display: none;
}
/*FOOTER*/
footer {
	background-color: #9dcb20;
	height: 65px;
	padding-top: 20px;
}
.copy_footer_admin {
	display: table;
	margin: auto;
}
/*SIDEBAR*/
.admin_sidebar_container {
	width: 185px;
	min-height: 780px;
	background-color: #222222;
	padding: 10px;
	display: inline-block;
	margin-right: 20px;
	float: left;
}
.admin_sidebar_button {
	color: #eee;
	padding-top: 15px;
	padding-bottom: 15px;
}
.admin_sidebar_button:hover {
	color: #eee;
	text-decoration: none;
}
.admin_sidebar_button i {
	margin-right: 10px;
}

.delete_img_icon {
	cursor: pointer;
}


















