/*GENERAL*/
.container_main {
	padding-top: 0;
	width: 930px;
}
body {
	font-family: 'Myriad Pro';
	background-color: #ececec;
}
.admin_uni_button {
	background-color: #9dcb20;
	color: #fff;
	font-size: 16px;
}
.admin_uni_heading {
	font-size: 24px;
	color: #9dcb20;
	margin-left: 25px;
}
.admin_uni_label {
	font-size: 16px;
	font-weight: bold;
	color: #222222;
}
.admin_uni_label>i {
	margin-right: 5px;
}
.hidden {
	display: none;
}
.admin_main_content {
	width: 930px;
	display: table;
	margin: auto;
	margin-bottom: 30px;
}
/*HEADER*/
header {
	background-color: #222222;
	color: #eeeeee;
	padding-top: 5px;
	padding-bottom: 5px;
}
.container_admin_header {
	padding-top: 0;
	width: 930px;
}
.admin_to_site {
	display: inline-block;
}
.admin_header_btn_group_r {
	margin-left: 642px;
}
.admin_header_btn_group>button {
	border: 0px;
}
.fa_user {
	margin-right: 5px;
}
.admin_header_btn_group>button, .admin_header_btn_group>button {
	background-color: #222222;
	color: #eee;
}
.admin_header_btn_group>button:hover, .admin_header_btn_group>button:active {
	background-color: #4d4d4d;
	color: #eee;
}
.open>.dropdown-toggle.btn-default {
	background-color: #4d4d4d!important;
	color: #eee!important;
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 0px;
}
.open>.dropdown-menu>li {
	background-color: #4d4d4d!important;
	color: #eee!important;
	display: inline-block;
}
.open>.dropdown-menu {
	background-color: #4d4d4d!important;
	color: #eee!important;
	margin-top: 0;
	border-top: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.bigger {
	width: 162px;

}
.btn_exit {
	margin-left: 13px;
	background-color: #4d4d4d!important;
	margin-bottom: 0;
	padding-bottom: 0;
}
.btn_exit:hover {
	color: #9dcb20;
}
.dropdown-menu>li>a:hover {
	color: #9dcb20;
}
.dropdown-menu>li>a {
	color: #eee;
}
.btn_link {
	margin-left: 0;
}
.dropdown-menu {
	min-width: 129px;
}
.dropdown-menu>li>a {
	padding: 2px 13px;

}
.admin_header_link {
	font-weight: bold;
	text-decoration: none;
	color: #eeeeee;

}
.admin_header_link:hover {
	background-color: #4d4d4d;
	text-decoration: none;
	color: #eeeeee;
}

/*SIDEBAR*/
.admin_sidebar_container {
	width: 930px;
	background-color: #222222;
	padding: 10px;
	display: table;
	margin: auto;
}
.admin_sidebar_button {
	color: #eee;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-top: 4px;
}
.admin_sidebar_button:hover {
	background-color: #4d4d4d;
	text-decoration: none;
	color: #eeeeee;
}
.admin_sidebar_button:hover {
	color: #eee;
	text-decoration: none;
}
.active_my {
	background-color: #9dcb20;
	text-decoration: none;
	color: #eeeeee;
}
.admin_sidebar_button i {
	margin-right: 3px;
	margin-left: 5px;
}

.delete_img_icon {
	cursor: pointer;
}
.full_screen {
	background-color: #222222;
	margin-top: 0;
	padding: 0;
	height: auto;
}
/*PANEL*/
.admin_main_content {
	background-color: #fff;
	box-shadow: 2px 3px 7px #757171;
	padding: 25px 30px 30px 25px;
}
input[type=file].admin_panel_input {
	display: inline;
	margin-left: 100px;
	font-size: 16px;
}
.input[type="file" i]::-webkit-file-upload-button {
	margin-left: 50px;
}
.admin_panel_import {
	position: relative;
}
.admin_panel_import a {
	position: absolute;
	left: 192px;
}
/*CHANGE_ITEM*/
/*SUBCATS*/
.admin_one_cat_heading {
	font-size: 18px;
	font-weight: bold;
}
.admin_one_cat_add {
	font-size: 16px;
	font-weight: bold;
	color: #9dcb20;
	text-decoration: underline;
	display: block;
	margin-left: 160px;
}
.admin_one_cat_add:hover {
	color: black;
}
.admin_one_cat_subcats_block {
	border-left: solid 3px #9dcb20;
	padding: 0px 15px;
	margin-left: 140px;
	margin-top: 15px;
}
.admin_subcats_list {
	background-color: #ececec;
}
.admin_subcategory {
	color: black;
	font-family: 'Arial';
	font-size: 14px; 
}
.admin_subcategory i {
	color: #9dcb20;
}
.delete_icon {
	color: #9dcb20;
}
.admin_panel_search {
	margin-top: 20px;
	margin-bottom: 20px;
}
.admin_input_search {
	margin-left: 20px;
	margin-right: 86px;
}
.form-control {
	display: inline-block;
	width: auto;
}
.admin_discount_input {
	vertical-align: top;
	margin-top: 18px;
	margin-left: 34px;
}
.discount_input {
	margin-right: 85px;
}
/*ITEMS*/
.admin_items_quantity {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.change_block {
	display: inline-block;
}
.change_item_cur_div {
	float: right;
}
.change_item_price_div {
	margin-left: 35px;
}
.title_input {
	width: 758px;
	margin-left: 40px;
}
.code_input {
	width: 280px;
	margin-left: 45px;
	margin-top: 16px;
}
.price_input {
	width: 165px;
	margin-left: 25px;
}
.currency_input {
	width: 80px;
	margin-top: 17px;
	margin-left: 25px;
}
.change_item_category_div {
	margin-right: 65px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.category_label, .proc_label {
	margin-right: 30px;
}
.subcat_label {
	margin-right: 25px;
}
.descr_label {
	vertical-align: top;
	margin-top: 15px;
}
.descr_input {
	width: 760px;
	margin-left: 35px;
	margin-top: 20px;
}
.make_spec_block, .make_hit_block {
	margin-top: 25px;
}
.make_hit_block {
	margin-bottom: 25px;
}	
input[name="special"] {
	margin-left: 65px;
}
input[name="hit"] {
	margin-left: 111px;
}
.img_preview {
	/*float: right;*/
	margin-top: 0px;
	/*margin-right: 658px;*/
}
.change_item_buttons {
	margin-top: 237px;
	margin-bottom: 25px;
	display: inline-block;
	margin-right: 30px;
	margin-left: -223px;
}
.change_item_img {
	display: inline-block;
	float: right;
	margin-top: -341px;
}
.admin_panel_import {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.min_img_btn {
	margin-left: 40px;
	margin-top: -9px;
	display: inline-block;
	float: right;
	vertical-align: top;
}
/*PRODUCERS*/
.admin_producer_add {
	font-size: 16px;
	font-weight: bold;
	color: #9dcb20;
	text-decoration: underline;
}
.admin_producer_one {
	text-decoration: underline;
}
.admin_article_title_full {
	display: none;
}
/*FOOTER*/
footer {
	background-color: #9dcb20;
	height: 65px;
	padding-top: 20px;
}
.copy_footer_admin {
	display: table;
	margin: auto;
}
.copy_footer_admin a img {
	float: right;
}

/*ADMIN_CHANGE_ARTICLE*/
.change_article_title_block {
	margin-bottom: 22px;
}
.change_article_title_form {
	width: 478px;
	margin-left: 35px;
	margin-right: 48px;
}
.change_adrticle_to_all {
	color: black;
	text-decoration: underline;
	font-size: 16px;
}
.change_adrticle_to_all:hover {
	color: #9dcb20;
}
.change_adrticle_to_all:focus {
	color: #9dcb20;
	outline: none;
}
.change_adrticle_to_all i {
	text-decoration: underline;
}
.change_article_weight_div {
	margin-bottom: 25px;
}
.change_article_weight_form {
	margin-left: 22px;
}
.change_article_descript_block {
	margin-bottom: 55px;
}

/*SUBCATS*/
.admin_catalog_category {
	margin-bottom: 50px;
}
