.full_screen {
	margin-top: 15px;
	height: 100px;
	padding-top: 17px;
	background-color: #702329;
	display: table;
	width: 100%;
}
.logo_footer {
	float: left;
	margin-left: 60px;
}
.nav_footer {
	border: none;
	float: left;
	height: 77px;
	padding-top: 20px;
	margin-left: 35px;
	margin-right: 80px;
	background-color: #702329;
}
.nav_footer ul li {
	float: left;
	padding: 4px;
	list-style: none;
	font-size: 12px;
	font-weight: bold;
}
.nav_footer ul li a {
	color: white;
	text-decoration: none;
}
.nav_footer ul li a:hover {
	color: #cecece;
	text-decoration: none;
}
.footer_description,
.footer_copy,
.footer_link {
	float: left;
	color: white;
	font-size: 12px;
	margin-bottom: 2px;
}
.footer_description {
	margin-top: 10px;
}
.footer_link a {
	color: white;
}
.footer_link a:hover {
	color: white;
}