$red: #6f2429;
$black: #292929;
// For SIDEBAR
.watch_details {
	color: $red;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	&:hover {
		color: $red;

	}
}
// For ITEMS BY PRODUCER
.watch_by_prod_btn {
	font-size: 14px;
	color: #fff;
	background-color: $red;
	float: right;
	margin-bottom: 0;
	margin-top: 9px;
	&:hover {
		color: #fff;
		background-color: lighten($red, 10%);
	}
}
// For ALL PDF PAGE
.pdf_all_list {
	ul {
		list-style-type: none;
	}
	a {
		color: $black;
		font-size: 16px;
		font-weight: bold;
		&:hover {
			color: $black;
		}
	}
}
// For ALL PDF BY PRODUCER
.pdf_list {
	@extend .pdf_all_list
}
// For ONE PDF PAGE
.pdf_links {
	// @extend .pdf_all_list;
	.head {
		color: $red;
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 10px;
		padding-left: 15px;
	}
}
.pdf_content {
	// p {
	// 	font-size: 18px;
	// }
}
.pdf_reader {
	padding-left: 15px;
	a {
		color: $black;
		font-size: 17px;
		font-weight: bold;
		&:hover {
			color: $black;
		}
	}
	.load {
		margin-top: 10px;
	}
	p {
		font-size: 15px;
		display: inherit;
		margin-bottom: 5px;
	}
}
.pdf_links {
	p {
		font-weight: bold;
	}
}
// For ADMIN ITEMS
.delete_group_button {
	float: right;
	margin-right: 10px;
	padding-left: 22px;
	padding-right: 24px;
}
.spec_btn_adm {
	padding-left: 31px;
	padding-right: 32px;
}
.proc_btn_adm {
	margin-left: 34px;
}
// For ADMIN PANEL
.admin_panel_pdf_div {
	border: 1px solid #9dcb20;
	padding-top: 15px;
	padding-left: 1px;
	padding-right: 25px;

	.admin_uni_label {
		vertical-align: top;
		margin-right: 57px;
	} 
	.good {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.good_label {
		margin-right: 39px;
	}
	.good_input {
		width: 219px;
	}
	.admin_uni_button {
		margin-bottom: 20px;
		display: block;
	}
	.to_pdf {
		float: right;
		margin-right: 10px;
	}
	.category_main_label {
		margin-right: 84px;
	}
	.subcat_main_label {
		margin-right: 59px;
	}
	.change_item_category_div {
		margin-bottom: 20px;
		margin-top: 20px;
		select {
			width: 220px;
		}
	}
	.change_item_subcat_div {
		margin-top: 0;
		select {
			width: 220px;
		}
	}
}
// For ALL PDF DEL
.all_pdfs {
	list-style: none;
	li {
		font-size: 16px;
		font-weight: bold;
	}
	a {
		color: $black;
		&:hover {
			color: $black;
		}
	}
}
.del_pdf, .upd_pdf {
	margin-right: 10px;
	color: #9dcb20;
	&:hover {
		cursor: pointer;;
	}
}


















