/*GENERAL*/
p,h1,h2,h3,h4,h5,a {
	display: inline-block;
}
/*HEADER*/
.register {
	float: right;
}
.header_phone {
	/*display: block;*/
}
.header_login {
	float: right;
}
.navbar {
	padding-left: 22%;
}
.header_search {
	/*float: right;*/
}