GENERAL*/
body {
	font-family: Arial, sans-serif;
}
p,h1,h2,h3,h4,h5,a {
	display: inline-block;
}
.breadcrumb {
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 5px;
}
.breadcrumb li a {
	color: #6f2429;
}
.universal_heading {
	color: #6b1d23;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.main_hr {
	color: #6b1d23;
	border: 2px solid #6b1d23;
	margin-bottom: 25px;
	margin-top: 15px;
}
/*CONTAINERS*/
.container_zipo {
	width: 1150px;
	margin: auto;
	background: url(../img/markup/header_background.png);
	background-repeat: no-repeat;
	background-position: 342px 0px;
}
.container_main {
	width: 1150px;
	margin: auto;
	display: table;
}
.item_content, .items_content {
	height: auto;
}
.main_content {
	width: 566px;
	display: inline-block;
	margin-top: 30px;
	box-shadow: 2px 3px 7px #757171;
	border-radius: 5px;
	padding: 10px;
	float: right;
	height: auto;
	min-height: 780px;
}
/*HEADER*/
.header_top_hr {
	color: #6b1d23;
	border: 6px solid #6b1d23;
	margin-bottom: 10px;
	margin-top: 5px;
}
.header_right {
	display: inline-block;
	width: 270px;
	float: left;
	margin-left: 20px;
}
.header_phone {
	font-size: 24px;
	color: #6b1d23;
	line-height: 20px;
}
.logo_header {
	margin-left: 30px;
}
.header_description {
	display: inline-block;
	margin-top: 15px;
}
.header_descriprion_heading {
	color: #6b1d23;
	font-size: 18px;
	font-weight: bold;
}
.header_description_text {
	font-size: 17px;
}
.navbar_wraper {
	background-color: #6b1d23;
}
.nav_header {
	background-color: #6b1d23;
	display: table;
	margin: auto;
	border: 1px solid #6b1d23;
}
.nav_header ul li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}
/*animation_nav*/
.nav_header ul li {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.nav_header ul li:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.nav_header ul li:hover, .nav_header ul li:focus, .nav_header ul li.active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
   -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.nav_header ul li:hover:before, .nav_header ul li:focus:before, .nav_header ul li.active:before {
  opacity: .4;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
  	background: rgba(0,0,0,0)!important;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #cecece;
}
.navbar ul li.active {
	text-decoration: underline;
}
/*animation_nav_end*/
.header_login {
	display: none;
}
.login_form_input {
	border-radius: 4px;
	outline-color: #cecece;
	margin-top: 10px;
	margin-right: 10px;
}
.login_form {
	margin-right: 10px;
}

.submit_field {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	/*margin-left: 13px;*/
}
.submit_field:hover,
.submit_field:focus,
.submit_field:active,
.submit_field.active {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.submit_field:active,
.submit_field.active {
  	background-image: none;
}
form {
	display: inline-block;
}
.register {
	float: right;
	margin-right: 10px;
}
.reg_button {
	padding: 0;
}
.header_reg_adn_log {
	float: right;
	display: inline-block;
	margin-top: 10px;
}
.header_search {
	position: absolute;
	top: 145px;
	width: 225px;
}
.header_search:focus {
	outline-color: #cecece;
	border-color: #cecece;
}
.input_search {
	width: 225px;
	height: 45px;
}
.input_search:focus {
	border-color: #cecece;
	outline-color: #cecece;
}
/*PRICES*/
.prices_heading {
	font-size: 18px;
	font-weight: bold;
	color: #6b1d23;
	text-transform: uppercase;
	display: inherit;
	text-align: center;
}
.price_load {
	margin: 10px 16px;
}
.price_load a {
	margin-left: 10px;
	display: table;
	margin: auto;
	text-align: left;
	color: #383838;
	font-size: 16px;
}
.price_load i {
	margin-right: 10px;
}
.price_load a:hover {
	text-decoration: none;
}
/*CATALOG*/
.catalog_heding {
	margin-top: 25px;
	margin-bottom: 1px;
}
.catalog_subheading {
	font-weight: bold;
	padding: 9px 9px 4px 9px;
	float: right;
	margin-bottom: auto;
	margin-top: 17px;
	color: #fff;
	background-color: #6b1d23;
	border-top: 1px solid #6b1d23;
	border-radius: 5px 5px 0px 0px;
}
.catalog_hr {
	border: 1px solid #6b1d23;
	margin-top: 0px;
	width: 544px;
}
.foreign_heding, .russian_heding {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.catalog_category {
	display: inline-block;
	margin-bottom: 30px;
	margin-right: 35px;
}
.posud_catedory {
	margin-right: 0;
}
.catalog_category_img {
	height: 110px;
	width: 110px;
	vertical-align: bottom;
}
.catalog_category_heading {
	font-size: 16px;
	font-weight: bold;
	color: #6b1d23;
	margin-bottom: 0;
	margin-left: 5px;
}
.subcategory_block{
	width: 100%;
	border-left: solid 3px #6b1d23;
	padding-left: 15px;
	margin-top: -16px;
	margin-bottom: 25px;
	display: none;
}
.subcategory_column {
	width: 97%;
	display: inline-block;
	background-color: #f6e8ea;
	padding: 15px 112px 15px 3px;
}
.subcategory_left, .producers_list {
	float: left;
}
.subcategory_right, .producers_right {
	float: right;
}
.subcategory_column ul {
	padding-left: 20px;
}
.subcategory_column a {
	color: black;
	text-decoration: none;
}
.subcategory_column a:hover {
	text-decoration: underline;
} 
.groups {
	padding: 10px 90px 20px 10px;
}
.producers_list {
	list-style: none;
}
.producers_list a {
	color: black;
	text-decoration: underline;
	font-weight: bold;
}
/*TEMP*/
.sub_1 {
	display: block;
}
/*ITEMS*/
.items_page_main_header {
	display: block;
	margin-bottom: 20px;
}
.items_subheading {
	font-size: 16px;
	font-weight: bold;
}
.items_sort_div {
	display: block;
}
.items_sort_by {
	font-size: 12px;
}
.items_sort {
	/*something here*/
}
.items_item_one {
	width: 250px;
	height: 220px;
	padding: 3px;
	background-color: yellow;
}
.name_and_code {
	width: 125px;
	display: inline-block;
}
.items_page_item_img {
	height: 90px;
	width: 110px;
	float: left;
}
.items_item_name {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
	color: #662025;
	width: 125px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: underline;
	cursor: pointer;
}
.items_item_code {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}
.items_item_price, .items_item_currency {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: #662025;
	float: right;
}
.items_item_currency {
	text-transform: lowercase;
}
.items_item_descript {
	font-size: 11px;
}
.items_item_text {
	background-color: #f1f1f1;
	float: right;
	display: inline-block;
}
.small_heading {
	font-weight: bold;
}
.items_buttons {
	display: inline-block;
	margin-top: 20px;
}
.items_more {
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-right: 20px;
	margin-left: 20px;
}
.items_order {
	float: right;
	font-size: 13px;
	font-weight: bold;
}





/*CONTACTS*/
.contacts_form_table td, .change_input_register td {
	padding-top: 5px;
}
.change_input_contacts, .change_input_register {
	width: 250px;
}
.contacts_form_body {
	height: 150px;
	width: 400px;
}
.save_button {
	text-align: center;
	display: inline;
}

/*CATALOG_BRANDS*/


/*------------------------------------------------
| ADMIN LOGIN
------------------------------------------------*/
/*.admin_title {
	display: inline-block;
	color: #008ccb;
	margin-left: 85px;
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 27px;
	margin-left: 20px;
}
.logout_button {
	background: #4D4D4D;
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 10px;
	color: white;
}
.logout_button:hover {
	color: white;
}*/
.login_section {
	height: 700px;
	display: table;
	margin: auto;
}
.login_section h2.admin_area {
	margin-top: 50px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.login_section img.admin_warning {
	display: block;
	margin: auto;
	margin-top: 50px;
}
.login_section input.admin_input {
	width: 300px;
	font-size: 24px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}
.login_section input.login_button {
	width: 100px;
	margin: auto;
	margin-top: 40px;
	font-weight: bold;
}
/*------------------------------------------------
| END ADMIN LOGIN
------------------------------------------------
